<?xml version="1.0" encoding="utf-8"?>
<!-- above is code scanning alert - Missing X-Frame-Options HTTP header-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  <sessionState mode="InProc" timeout="1"></sessionState>
	  
	  <!--code scanning alert - Creating an ASP.NET debug binary may reveal sensitive information-->
    <compilation debug="true" targetFramework="4.7.2" />
	  <!--how to solve the above error, remove 'debug' flag -->
	  <!--<compilation targetFramework="4.7.2" />-->
    <httpRuntime targetFramework="4.7.2" />
	  <customErrors mode="On" defaultRedirect="~/CustomError/GenericError.htmL" >
		  <error statusCode="404" redirect="~/CustomError/HTTP404.htmL"/>
		  <error statusCode="403" redirect="~/CustomError/HTTP403.html"/>
		  <error statusCode="500" redirect="~/CustomError/HTTP500.html"/>
		  <error statusCode="400" redirect="~/CustomError/HTTP400.htmL"/>
		  <error statusCode="401" redirect="~/CustomError/HTTP401.html"/>
		  <error statusCode="402" redirect="~/CustomError/HTTP402.html"/>
		  <error statusCode="405" redirect="~/CustomError/HTTP405.htmL"/>
		  <error statusCode="406" redirect="~/CustomError/HTTP406.html"/>
		  <error statusCode="407" redirect="~/CustomError/HTTP407.html"/>
		  <error statusCode="408" redirect="~/CustomError/HTTP408.htmL"/>
		  <error statusCode="409" redirect="~/CustomError/HTTP409.html"/>
		  <error statusCode="410" redirect="~/CustomError/HTTP410.html"/>
		  <error statusCode="411" redirect="~/CustomError/HTTP411.htmL"/>
		  <error statusCode="412" redirect="~/CustomError/HTTP412.html"/>
		  <error statusCode="413" redirect="~/CustomError/HTTP413.html"/>
		  <error statusCode="414" redirect="~/CustomError/HTTP414.htmL"/>
		  <error statusCode="415" redirect="~/CustomError/HTTP415.html"/>
		  <error statusCode="416" redirect="~/CustomError/HTTP416.html"/>
		  <error statusCode="417" redirect="~/CustomError/HTTP417.htmL"/>
		  <error statusCode="501" redirect="~/CustomError/HTTP501.html"/>
		  <error statusCode="502" redirect="~/CustomError/HTTP502.html"/>
		  <error statusCode="503" redirect="~/CustomError/HTTP503.htmL"/>
		  <error statusCode="504" redirect="~/CustomError/HTTP504.html"/>
		  <error statusCode="505" redirect="~/CustomError/HTTP505.html"/>
	  </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
	<system.webServer>
		<!--to redirect to error page if e.g /Login1/ was entered in the URL-->
		<httpErrors errorMode="Custom">
			<remove statusCode="404"/>
			<error statusCode="404" prefixLanguageFilePath="" path="/CustomError/HTTP404.html" responseMode="Redirect"/>
			<remove statusCode="403" />
			<error statusCode="403" prefixLanguageFilePath="" path="/CustomError/HTTP403.html" responseMode="Redirect"/>
			<remove statusCode="500"/>
			<error statusCode="500" prefixLanguageFilePath="" path="/CustomError/HTTP500.html" responseMode="Redirect"/>
			<remove statusCode="400"/>
			<error statusCode="400" prefixLanguageFilePath="" path="/CustomError/HTTP400.html" responseMode="Redirect"/>
			<remove statusCode="401" />
			<error statusCode="401" prefixLanguageFilePath="" path="/CustomError/HTTP401.html" responseMode="Redirect"/>
			<remove statusCode="402"/>
			<error statusCode="402" prefixLanguageFilePath="" path="/CustomError/HTTP402.html" responseMode="Redirect"/>
			<remove statusCode="405"/>
			<error statusCode="405" prefixLanguageFilePath="" path="/CustomError/HTTP405.html" responseMode="Redirect"/>
			<remove statusCode="406" />
			<error statusCode="406" prefixLanguageFilePath="" path="/CustomError/HTTP406.html" responseMode="Redirect"/>
			<remove statusCode="407"/>
			<error statusCode="407" prefixLanguageFilePath="" path="/CustomError/HTTP407.html" responseMode="Redirect"/>
			<remove statusCode="408"/>
			<error statusCode="408" prefixLanguageFilePath="" path="/CustomError/HTTP408.html" responseMode="Redirect"/>
			<remove statusCode="409" />
			<error statusCode="409" prefixLanguageFilePath="" path="/CustomError/HTTP409.html" responseMode="Redirect"/>
			<remove statusCode="410"/>
			<error statusCode="410" prefixLanguageFilePath="" path="/CustomError/HTTP410.html" responseMode="Redirect"/>
			<remove statusCode="411" />
			<error statusCode="411" prefixLanguageFilePath="" path="/CustomError/HTTP411.html" responseMode="Redirect"/>
			<remove statusCode="412"/>
			<error statusCode="412" prefixLanguageFilePath="" path="/CustomError/HTTP412.html" responseMode="Redirect"/>
			<remove statusCode="413"/>
			<error statusCode="413" prefixLanguageFilePath="" path="/CustomError/HTTP413.html" responseMode="Redirect"/>
			<remove statusCode="414" />
			<error statusCode="414" prefixLanguageFilePath="" path="/CustomError/HTTP414.html" responseMode="Redirect"/>
			<remove statusCode="415"/>
			<error statusCode="415" prefixLanguageFilePath="" path="/CustomError/HTTP415.html" responseMode="Redirect"/>
			<remove statusCode="416"/>
			<error statusCode="416" prefixLanguageFilePath="" path="/CustomError/HTTP416.html" responseMode="Redirect"/>
			<remove statusCode="417" />
			<error statusCode="417" prefixLanguageFilePath="" path="/CustomError/HTTP417.html" responseMode="Redirect"/>
			<remove statusCode="501"/>
			<error statusCode="501" prefixLanguageFilePath="" path="/CustomError/HTTP501.html" responseMode="Redirect"/>
			<remove statusCode="502"/>
			<error statusCode="502" prefixLanguageFilePath="" path="/CustomError/HTTP502.html" responseMode="Redirect"/>
			<remove statusCode="503"/>
			<error statusCode="503" prefixLanguageFilePath="" path="/CustomError/HTTP503.html" responseMode="Redirect"/>
			<remove statusCode="504"/>
			<error statusCode="504" prefixLanguageFilePath="" path="/CustomError/HTTP504.html" responseMode="Redirect"/>
			<remove statusCode="505"/>
			<error statusCode="505" prefixLanguageFilePath="" path="/CustomError/HTTP505.html" responseMode="Redirect"/>
		</httpErrors>

		<!-- to solve code scanning alert - Missing X-Frame-Options HTTP header, do as below-->
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
		
		
		
		
		
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<connectionStrings>
		<add name="MYOWNDB202920HConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Shaqilah\Documents\Y2S2\AS\assignment\PracticalAssignmentApplicationSecurity_202920H\PracticalAssignmentApplicationSecurity_202920H\App_Data\MYOWNDB202920H.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
</configuration>